<div class = container>
  <h1>Merci <%=current_user.username%></h1>
  <div class="card-trip">
    <% if @restaurant.photo.attached? %>
        <%= cl_image_tag @restaurant.photo.key, height: 300, width: 300, crop: :fill %>
      <% else %>
        <img src="https://picsum.photos/200">
      <% end %>
    <div class="card-trip-infos">
      <div>
        <h2><%=@restaurant.name%></h2>
        <p><%=@restaurant.description%></p>
        <p>Number of Guest: <%=@reservation.guest_number%></p>
        <p>Date: <%=@reservation.date%></p>
      </div>
    </div>
      <%= link_to "Back to Restaurants", restaurants_path, class:"btn btn-danger btn-delete text-white mx-auto d-flex justify-content-center"%>
  </div>

    <br>
    <br>
    <br>
  <div class="review">
    <h2>Laissez une évaluation</h2>
    <%= simple_form_for [@reservation, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating, collection: Review::AUTHORIZED_RATINGS,
                          include_blank: false %>
      <%= f.submit class: "btn btn-primary", value: "Valider" %>
    <% end %>
  </div>
</div>
