
<div class = container>
<div class="back-arrow">
        <%= link_to restaurants_path do %>
         <p>Retour</p>
         <% end %>
</div>
  <h1>Restaurant</h1>
  <div class="card-trip">
    <% if @restaurant.photo.attached? %>
        <%= cl_image_tag @restaurant.photo.key, height: 300, width: 300, crop: :fill %>
      <% else %>
        <img src="https://picsum.photos/200">
      <% end %>
    <div class="card-trip-infos">
      <div>
        <h2><%=@restaurant.name%></h2>
        <p><%=@restaurant.description%></p>
      </div>
      <h2 class="card-trip-pricing">444</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
    <div class="card-trip-buttons">
      <%= link_to "Edit", edit_restaurant_path(@restaurant), class:"btn btn-dark btn-delete text-white justify-content-center"%>
      <%= link_to "Delete", restaurant_path(@restaurant), class:"btn btn-dark btn-delete text-white justify-content-center", method: :"DELETE", data: { confirm: "Are you sure ?"}%>
    </div>
  </div>

  <div class="form-wrapper mt-3 mb-4">
    <%= simple_form_for [@restaurant, @reservation] do |f| %>
      <%= f.input :guest_number, required: true %>
      <%= f.input :date, start_year: Date.today.year%>
      <%= f.button :submit, "Reservation", class: "w-100 btn btn-danger btn-delete text-white mx-auto d-flex justify-content-center" %>
    <% end %>
  </div>

  <p>
  <% if @average_rating.nil? %>
    Pas encore de reviews
  <% else %>
     Moyenne :
    <%= @average_rating.round(1) %>
  <% end %>
  </p>

  <div class="reviews">
    <% @reviews.each do |review| %>
      <p>
        <% Review::AUTHORIZED_RATINGS.each do |number| %>
          <i class="fa<%= (number > review.rating) ? 'r' : 's' %> fa-star text-warning"></i>
        <% end %>
        <span class = "text-dark"> <%= review.content %> </span>
      </p>
    <% end %>
  </div>
</div>
