<div class = container>
  <h1>Restaurant</h1>
  <div class="card-trip">
    <img src="https://picsum.photos/800" />
    <div class="card-trip-infos">
      <div>
        <h2><%=@restaurant.name%></h2>
        <p><%=@restaurant.description%></p>
      </div>
      <h2 class="card-trip-pricing">444</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
      <%= link_to "Delete", restaurant_path(@restaurant), class:"btn btn-danger btn-delete text-white mx-auto d-flex justify-content-center", method: :"DELETE", data: { confirm: "Are you sure ?"}%>
      <%= link_to "Edit", edit_restaurant_path(@restaurant), class:"btn btn-danger btn-delete text-white mx-auto d-flex justify-content-center"%>
  </div>

  <div class="form-wrapper mt-3 mb-4">
    <%= simple_form_for [@restaurant, @reservation] do |f| %>
      <%= f.input :guest_number, required: true%>
      <%= f.input :date %>
      <%= f.button :submit, "Reservation", class: "w-100 btn btn-danger btn-delete text-white mx-auto d-flex justify-content-center" %>
    <% end %>
  </div>

  <p> Moyenne : <%= @average_rating %> </p>
  <div class="reviews">
    <% @reviews.each do |review| %>
      <p>
        <% Review::AUTHORIZED_RATINGS.each do |number| %>
          <i class="fa<%= (number > review.rating) ? 'r' : 's' %> fa-star"></i>
        <% end %>
        <%= review.content %>
      </p>
    <% end %>
  </div>
</div>
